@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
.hero{
text-align:center;
padding:80px 20px;
}


.games{
padding:60px 20px;
}


.cards{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
}


.card{
width:260px;
background:#111;
padding:25px;
border-radius:15px;
border:1px solid var(--main-color);
text-align:center;
transition:.4s;
}


.card:hover{
transform:translateY(-12px) scale(1.05);
box-shadow:0 0 30px var(--main-color);
}


.card a{
color:var(--main-color);
text-decoration:none;
display:inline-block;
margin-top:10px;
}


.card.valorant{--main-color:#ff4655}
.card.fortnite{--main-color:#9b5cff}
.card.minecraft{--main-color:#3bd16f}


footer{
text-align:center;
padding:20px;
border-top:2px solid var(--main-color);
font-size:13px;
}


#soundToggle{
position:fixed;
bottom:20px;
right:20px;
width:50px;
height:50px;
border-radius:50%;
border:none;
background:var(--main-color);
color:#000;
font-size:20px;
cursor:pointer;
box-shadow:0 0 15px var(--main-color);
}